.users{
    display: flex;
    flex-direction: column;
  
    .users_head{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1;
        color: #213F7D;
    }
    .users_box{
        display: grid;
       grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
       gap:1.625rem;
        padding: 2.5rem 0;

        .box{
            display: flex;
            flex-direction: column;
            gap:0.75rem;
            height: 10rem;
            background: #fff;
            border-radius: 0.25rem;
            padding: 1.25rem 0 1.875rem 1.875rem;
            figure{
                height: 2.5rem;
                width:2.5rem;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                font-weight: 500;
                font-size: 0.875;
                line-height: 1;
                color:#545F7D;
            }
            h3{
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1;
                color: #213F7D;
            }
            
        }
        :first-child{
            figure{
                background: #e9a6f3;
            }
        }
        :nth-child(2){
            figure{
                background: #b69ef7;
            }
        }
         :nth-child(3){
            figure{
                background: #ee9d8e;
            }
        }
         :nth-child(4){
            figure{
                background: #f7aabd;
            }
        }
    }
    .pagination{
        flex:1;

        display: flex;
        flex-direction: column;
        gap:1.25rem;
     

        table{
            width: 100%;
            background: #fff;
           border-collapse: collapse;
            th{
                 padding-bottom: 2.25rem;
                .wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap:0.625rem;
                  .children{
                    border-radius: 0.25rem;
                    height: 37.5rem;
                  }
                    .line_wrapper{
                       display: flex;
                       flex-direction: column;
                       gap:1.25rem;
                       
                        .line{
                            display: flex;
                            flex-direction: column;
                            gap: 0.375rem;
                            p{
                                align-self: self-start;
                                font-weight: 500;
                                font-size: 0.875rem;
                                line-height: 1;
                            }
                        }
                        input, select{
                            width: 15rem;
                            height: 2.5rem;
                            border-radius: 0.5rem;
                            font-weight: 400;
                            font-size: 0.875rem;
                            line-height: 1;
                            padding: 0.75rem 1.25rem;
                            border: 0.063rem solid #213F7D;
                        }
                    
                       
                    }
                    .btn_wrapper{
                        display: flex;
                        gap:0.875rem;
                        align-items: center;
                        justify-content: center;
                        padding-top: 2.5rem;
                      
                       
                        button{
                            width: 6.25rem;
                            height: 2.5rem;
                            border-radius: 0.5rem;
                            font-weight: 400;
                            font-size: 0.875rem;
                            line-height: 1;

                        }
                        :first-child{
                            background: #fff;
                            border:0.063rem solid #545F7D;
                            color:#545F7D;
                        }
                        :last-child{
                            background: #39CDCC;
                            color:#fff;
                        }
                    }
                   
                    p{
                        font-size: 0.75rem;
                        font-weight: 600;
                        line-height: 1;
                        color:#545F7D;
                    }
                
                }
                button{
                    border: none;
                    cursor: pointer;
                    background: #fff;
                }
            }
            td{
               text-align: center;
               font-weight: 400;
               font-size: 0.875rem;
               line-height: 1;
               color: #545F7D;
             padding: 0.5rem;
             border-bottom: 0.063rem solid #213F7D1A;
              
            
            }
            .actions{
                .children{
               
                    width: 11.25rem;
                    right: 0 ;
                    overflow: hidden;
                    padding: 1.25rem;
                    border-radius: 0.25rem;
                    .actions_wrapper{
                        display: flex;
                        flex-direction: column;
                        gap:1.25rem;
                          .hold{
                        width: 7.375rem;
                       display: flex; 
                       gap: 0.625rem;
                       justify-content: space-between;
                       align-items: center;
                    } 
                    }
                 
                }
            }
            .ld{
                 display: grid;
            place-items: center;
            }
        p{
            display: grid;
            place-items: center;
   
        }
            .success{
                color:#39CD62;
                background: #d2f0db;
                border-radius: 1.25rem;
                width: 4.375rem;
                height: 1.875rem;
                  text-align: center;

            }
            .neutral{
                color:#545F7D;
                background: #808183;
                border-radius: 1.25rem;
                width: 5rem;
                height: 1.875rem;
                  text-align: center;
            }
            .pending{
                color: #E9B200;
                background: #eff0d2;
                border-radius: 1.25rem;
                width: 5.625rem;
                height: 1.875rem;
                  text-align: center;
            }
            .failure{
                color:#E4033B;
                background: #f0d6d2;
                border-radius: 1.25rem;
                width: 6.25rem;
                height: 1.875rem;
                  text-align: center;
            }
           
          
        }
        .pagination_{
            display: flex;
            align-items: center;
            justify-content: space-between;
            :first-child{
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1;
                color:#545F7D;
            }
            :last-child{
                button{
                    border: none;
                    background: transparent;
                    cursor:pointer;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1;
                    color:#545F7D;
                    padding: 0.25rem;
                }
                .p_btn{
                    border: 0.063rem solid grey;
                    background: grey;
                    height: 1.5rem;
                   width: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .del{
        display:none;
    }
    .pagination_{
        display: flex;
        flex-direction: column;
        gap:0.5rem;
    }
}