.pagin{
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    width: 100%;
    gap:1.875rem;
    .top{
        display: flex;
        flex-direction: column;
        .lead{
            display: flex;
            gap:0.8125rem
        }
        .info{
            display:flex;
            flex-direction: column;
            gap:2.5rem;
            .head{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2{
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                    color:#213F7D;
                }
                .button_wrapper{
                    display: flex;
                    gap:1.25rem;
                    button{
                        width: 10.625rem;
                        height: 2.5rem;
                        border-radius: 0.5rem;
                        font-weight: 600;
                        font-size: 0.875rem;
                        line-height: 1;
                    }
                    :first-child{
                        border: 0.063rem solid #E4033B;
                        color:#E4033B;
                        background: #e4c1ca;
                    }
                    :last-child{
                        border:0.063rem solid #39CDCC;
                        color:#39CDCC;
                        background: #b4cccc;
                    }
                    
                }
            }
            .user_card{
                display: flex;
                flex-direction: column;
                gap:3.1875rem;
                background: #fff;
                border-radius: 0.25rem;
                padding: 0 2.5rem;
                .card_info{
                    .tier_info{
                        display:flex;
                        padding-top: 1.875rem;
                        gap:1.25rem;
                        .potrait{
                            width: 6.25rem;
                            height: 6.25rem;
                            border-radius: 50%;
                            background: #626b7e;
                            display: grid;
                            place-items: center;
                        
                        }
                            .potrait_info{
                                display:flex;
                                flex-direction:column;
                                gap:0.5rem;
                                align-items: start;
                                justify-content: center;
                                padding-right: 1.875rem;
                             border-right: 0.063rem solid grey;
                             :first-child{
                                font-size: 1.325rem;
                                font-weight: 500;
                                line-height: 1;
                                color:#213F7D;
                             }
                             :last-child{
                                color:#545F7D;
                                font-weight: 400;
                                line-height: 1;
                                font-size: 0.875rem;
                             
                             }
                            }
                            .user_tier{
                                display:flex;
                                flex-direction: column;
                                gap:0.625rem;
                                font-weight: 500;
                                font-size: 0.875rem;
                                line-height: 1;
                                color:#545F7D;
                                align-items: center;
                                justify-content: center;
                                 padding-right: 1.875rem;
                             border-right: 0.063rem solid grey;
                                :last-child{
                                    display: flex;
                                }
                            }
                            .user_salary{
                                display: flex;
                                flex-direction: column;
                                 align-items: center;
                                justify-content: center;
                                h2{
                                    font-weight: 500;
                                    line-height: 1;
                                    font-size: 1.375rem;
                                    color:#213F7D;
                                }
                                p{
                                    font-weight: 400;
                                    font-size: 0.75rem;
                                    line-height: 1;
                                    color:#213F7D;
                                }
                            }
                    }
                    
                }
                .card_nav{
                    ul{
                        display:flex;
                        align-items:center;
                        justify-content: space-between;
                        li{
                            text-decoration: none;
                            list-style: none;
                            font-size: clamp(0.75rem, 2vw, 1.25rem);
                            line-height: 1;
                            font-weight: 400;
                        }
                        .active{
                            color:#39CDCC;
                            border-bottom: 0.063rem solid #39CDCC;
                        }
                    }
                }
            }
        }
    }
    .bottom{
        background: #fff;
          padding: 1.875rem ;
        .data{
            width: 100%;
          
            h2{
                font-weight: 500;
                line-height: 1;
                font-size: 1rem;
                color:#213F7D;
            }
            .data_{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
               row-gap: 1.875rem;
                padding: 1.875rem;
                border-bottom: 0.063rem solid #213F7D;
                .data__{
                    display: flex;
                    flex-direction: column;
                    gap:0.5rem;
                    h2{
                        font-weight: 400;
                        font-size: 0.75rem;
                        line-height: 1;
                        color:#545F7D;
                    }
                    p{
                        font-weight: 500;
                        line-height: 1;
                        font-size: 1rem;
                        color: #545F7D;
                    }
                }
          
            }
          
        }
        div:last-of-type{
            .data_{
                border-bottom: none;
            }
        }
           
    }
      
}

@media screen and (max-width: 1024px) {
    .pagin{
    
        .top{
        
            .info{
             
                .head{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap:0;
                 
                      .button_wrapper{
        display: flex;
        flex-direction: column;
        gap:0.75rem;
        
        button{
            width: 6rem;
        }
    }
  
                }
                  .user_card{
        .card_info{
            .tier_info{
            .potrait_info{
                border: none;
            }
                 .del{
                  
                    display: none;
                }
            }
            
        }
        .card_nav{
            ul{
                .del{
                    display: none;
                }
            }
        }
    }
            }
        }
    }
  
}